.fontHarry {
  font-family: "Indie Flower", cursive;
}
.imgBook {
  width: 300px;
  height: auto;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;

  text-align: center;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background: linear-gradient(-45deg, #0c0301, #370b70, #411475, #e2e60d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

