/* Add your code in each class */
body {
  background-color: rgb(48, 2, 48);
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.movie-card {
  margin: 0;
  width: 300px;

  position: relative;
}
.movie-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  object-fit: cover;
  object-position: 10% 20%;

  width: 100%;
}
.movie-details-container {
  width: 100%;
}
.descriptions {
  position: relative;
  padding-top: 100%;
  text-align: center;
  color: white;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-weight: 300;
  font-size: 30px;
}
